@import './fonts.scss';
@import './colors.scss';

html, body {
    margin: auto 0;
    padding: 0;
}
// The Main header
header {
    // Main navigation in header
    nav {
        display: flex;
        justify-content: space-around;
        background: $SoftBlack;
        // Navbar Brand Area
        .navbar-brand {
            flex-grow: 4;
            // Title Area
            .title-area {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                // Title Image
                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 10px;
                }
                // Title
                p {
                    font-size: 20px;
                    margin: 0 0 0 3px;
                    font-family: 'Paytone One', sans-serif;
                }
            }
        }
    }
}
/* THE JUMBOTRON SECTION */
.jumbotron {
    margin: 0;
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        .introduction-area {
            h2 {
                margin: 0;
                span {
                    margin: 0;
                    font-size: 50px;
                    color: yellowgreen;
                    font-family: 'VT323', sans-serif;
                }
            }
            p {
                width: 400px;
            }
            // The Javascript Notification area.
            .notification-area {
                font-size: 20px;
                margin-top: 20px;
                color: yellowgreen;
                font-family: 'Russo One';
            }
        }
        .image-area {
            img {
                width: 25vw;
            }
        }
    }
}

/* SKILLS SECTION */
.skills {
    padding: 10px;
    background: $SoftBlack;
    .skills-introduction {
        margin: auto;
        padding: 10px;
        text-align: justify;
        color: white;
        h2 {
            text-align: center;
        }
        p {
            margin: auto;
            text-align: justify;
            width: 500px;
        }
    }
    .skills-technologies-section {
        .cards-section {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            // Styles for the skills cards. Could make a little framework.
            .cards {
                margin: 10px;
                padding: 5px;
                background: white;
                border-radius: 8px;
                border: 5px solid yellowgreen;
                text-align: center;
                i {
                    font-size: 80px;
                    color: green;
                }
                p {
                    width: 150px;
                    text-align: center;
                }
                a {
                    color: yellowgreen;
                }
            }
        }
        // The individual technologies icons 
        .detailed-list-area {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            ul {
                padding: 0;
                margin: 0;
                li{
                    display: inline-block;
                    margin: 10px;
                    .whiteBackground {
                        background: white;
                        border-radius: 5px;
                    }
                    img {
                        border-radius: 5px;
                        width: 50px;
                    }
                }
            }
        }
    }
}
// Websites Area 
.websites-section {
    background: yellowgreen;
    margin: 0;
    padding: 10px;
    .websites-introduction {
        h2 {
            color: white;
            text-align: center;
        }
    }
    .websites-cards-area {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        .website-cards {
            margin: 5px;
            background: $SoftBlack;
            color: white;
            border: 5px solid darkgreen;
            border-radius: 10px;
            width: 350px;
            img {
                width: 100%;
            }
            .card-title {
                padding: 5px;
                text-align: center;
                font-size: 25px;
                color: yellowgreen;
                border-bottom: 1px solid #6f8d33;

            }
            .card-description {
               padding: 10px;
               font-size: 20px;
               font-family: sans-serif;
               text-align: center;
            }
            .button-area {
                padding: 5px;
                text-align: center;
            }
        }
    }
}
// FOR MOBILE ----------------------------------------***
// Screens with a minimum width of 518px and a max-width of 2560px
@media only screen and (min-width: 518px) and (max-width: 2560px) {
    // For the Jumbotron
    .jumbotron {
        .container {
            padding-top: 50px;
        }
    }
}
// Screens with a max width of 516px
@media only screen and (max-width: 516px) {
    // For the Jumbotron
    .jumbotron {
        .container {
            padding-top: 50px;
            .introduction-area {
                p {
                    width: auto;
                }
            }
            .image-area {
                img {
                    margin-top: 10px;
                    width: 300px;
                }
            }
        }
    }
    // For mobile. The Skills section.
    .skills-introduction {
        h2 {
            text-align: center;
        }
        p {
            display: none;
        }
    }
    .skills-technologies-section {
        .cards-section {
            .cards {
                width: auto
            }
        }
    }
    .detailed-list-area {
        text-align: center;
    }
}


/******************** Footer Section *************************/


