@import './fonts.scss';
@import './colors.scss';

body {
    margin: auto 0;
    padding: 0;
}
// The Main header
header {
    // Main navigation in header
    nav {
        display: flex;
        justify-content: space-around;
        background: $SoftBlack;
        // Navbar Brand Area
        .navbar-brand {
            flex-grow: 4;
            // Title Area
            .title-area {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                // Title Image
                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 10px;
                }
                // Title
                p {
                    font-size: 20px;
                    margin: 0 0 0 3px;
                    font-family: 'Paytone One', sans-serif;
                }
            }
        }
    }
}
/* THE JUMBOTRON SECTION */

/* SKILLS SECTION */
.skills {
    padding: 10px;
    background: $SoftBlack;
    .skills-introduction {
        margin: auto;
        padding: 10px;
        text-align: justify;
        color: white;
        h2 {
            text-align: center;
        }
        p {
            margin: auto;
            text-align: justify;
            width: 500px;
        }
    }
    .skills-technologies-section {
        .cards-section {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            // Styles for cards. Could make a little framework.
            .cards {
                margin: 10px;
                padding: 5px;
                background: white;
                border-radius: 8px;
                border: 5px solid yellowgreen;
                text-align: center;
                i {
                    font-size: 80px;
                    color: green;
                }
                p {
                    width: 150px;
                    text-align: center;
                }
                a {
                    color: yellowgreen;
                }
            }
        }
        // The individual technologies icons 
        .detailed-list-area {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            ul {
                padding: 0;
                margin: 0;
                li{
                    display: inline-block;
                    margin: 10px;
                    .whiteBackground {
                        background: white;
                        border-radius: 5px;
                    }
                    img {
                        border-radius: 5px;
                        width: 50px;
                    }
                }
            }
        }
    }
}

// FOR MOBILE
@media only screen and (max-width: 516px) {
    // For mobile. The Skills section.
    .skills-introduction {
        h2 {
            text-align: center;
        }
        p {
            display: none;
        }
    }
    .detailed-list-area {
        text-align: center;
    }
}