@import url("https://fonts.googleapis.com/css2?family=VT323&family=Paytone+One&family=Press+Start+2P&family=Russo+One&display=swap");
html, body {
  margin: auto 0;
  padding: 0;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #202020;
}

header nav .navbar-brand {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

header nav .navbar-brand .title-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header nav .navbar-brand .title-area img {
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

header nav .navbar-brand .title-area p {
  font-size: 20px;
  margin: 0 0 0 3px;
  font-family: 'Paytone One', sans-serif;
}

/* THE JUMBOTRON SECTION */
#jumbotron-area {
  margin: 0;
}

#jumbotron-area .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#jumbotron-area .container .introduction-area h2 {
  margin: 0;
}

#jumbotron-area .container .introduction-area h2 span {
  margin: 0;
  font-size: 50px;
  color: yellowgreen;
  font-family: 'VT323', sans-serif;
}

#jumbotron-area .container .introduction-area p {
  width: 400px;
}

#jumbotron-area .container .introduction-area .notification-area {
  font-size: 20px;
  margin-top: 20px;
  color: yellowgreen;
  font-family: 'Russo One';
}

#jumbotron-area .container .image-area img {
  width: 25vw;
}

/* SKILLS SECTION */
.skills {
  padding: 10px;
  background: #202020;
}

.skills .skills-introduction {
  margin: auto;
  padding: 10px;
  text-align: justify;
  color: white;
}

.skills .skills-introduction h2 {
  text-align: center;
}

.skills .skills-introduction p {
  margin: auto;
  text-align: justify;
  width: 500px;
}

.skills .skills-technologies-section .cards-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills .skills-technologies-section .cards-section .cards {
  margin: 10px;
  padding: 5px;
  background: white;
  border-radius: 8px;
  border: 5px solid yellowgreen;
  text-align: center;
}

.skills .skills-technologies-section .cards-section .cards i {
  font-size: 80px;
  color: green;
}

.skills .skills-technologies-section .cards-section .cards p {
  width: 150px;
  text-align: center;
}

.skills .skills-technologies-section .cards-section .cards a {
  color: yellowgreen;
}

.skills .skills-technologies-section .detailed-list-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills .skills-technologies-section .detailed-list-area ul {
  padding: 0;
  margin: 0;
}

.skills .skills-technologies-section .detailed-list-area ul li {
  display: inline-block;
  margin: 10px;
}

.skills .skills-technologies-section .detailed-list-area ul li .whiteBackground {
  background: white;
  border-radius: 5px;
}

.skills .skills-technologies-section .detailed-list-area ul li img {
  border-radius: 5px;
  width: 50px;
}

.websites-section {
  background: yellowgreen;
  margin: 0;
  padding: 10px;
}

.websites-section .websites-introduction h2 {
  color: white;
  text-align: center;
}

.websites-section .websites-cards-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.websites-section .websites-cards-area .website-cards {
  margin: 5px;
  background: #202020;
  color: white;
  border: 5px solid darkgreen;
  border-radius: 10px;
  width: 350px;
}

.websites-section .websites-cards-area .website-cards img {
  width: 100%;
}

.websites-section .websites-cards-area .website-cards .card-title {
  padding: 5px;
  text-align: center;
  font-size: 25px;
  color: yellowgreen;
  border-bottom: 1px solid #6f8d33;
}

.websites-section .websites-cards-area .website-cards .card-description {
  padding: 10px;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}

.websites-section .websites-cards-area .website-cards .button-area {
  padding: 5px;
  text-align: center;
}

@media only screen and (min-width: 518px) and (max-width: 2560px) {
  .jumbotron .container {
    padding-top: 50px;
  }
}

@media only screen and (max-width: 516px) {
  .jumbotron .container {
    padding-top: 50px;
  }
  .jumbotron .container .introduction-area p {
    width: auto;
  }
  .jumbotron .container .image-area img {
    margin-top: 10px;
    width: 300px;
  }
  .skills-introduction h2 {
    text-align: center;
  }
  .skills-introduction p {
    display: none;
  }
  .skills-technologies-section .cards-section .cards {
    width: auto;
  }
  .detailed-list-area {
    text-align: center;
  }
}

/******************** Footer Section *************************/
/*# sourceMappingURL=index.css.map */